// Import Vuetify styling
.RogueFooter
	font-size: 16px
	font-weight: 500
	text-align: center
	margin-bottom: 0px
	padding-bottom: 0px
	font-color: black 

.RogueUL
	padding-left: 40px

.RogueToolbarTitle
	color: black 
	font-size: 20
	font-weight: 500

.RogueFooterContainer
	margin-top: 0px
	margin-bottom: 0px
	text-align: center

.RoguePager
	margin-top: 67px
	padding-top: 0px

.RogueLink
	text-decoration: none
	color: '#3f9699'
@require '~vuetify/src/stylus/main.styl'
